/* Main CSS for Massimo's personal page */
/* 
   2-Columns Layout with right menu due to 
   http://matthewjamestaylor.com/
   
   2-Columns layout with all max height columns, full CSS compliant.
*/

/*
  Colors:
    
    text:   #333; black
    bg:     #fff; white
    alt-bg: #ccc; light gray
    
    rev-text: #fff;
    rev-bg:   #aaa;
    
    
    box border: #777
*/ 


/** ------------ LAYOUT  ----------------------- */

html {
    border: 0;
    margin: 0;
    padding: 0;
}

body {

    font-family: arial, sans-serif;
    font-size: 100%;

    color: #333;
    border: 0;
    margin: 0;
    padding: 0;

    background: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/** CONTAINERS */

div#container {

    border: 0;
    margin: 0;
    padding: 0;

    min-width: 640px; /* Minimal size of thw view */
    min-height: 100%;
    height: 100%;
}

div#boxOuter {
    float: left;
    width: 100%;

    overflow: hidden;
    position: relative; /* This is extra to solve IE bug */

    border: 0px;
    margin: 0px;
    padding: 0px;

    background: #ccc; /* Right columns color */
    
}


div#boxInner {
    float: left;
    width: 100%;
    
    position: relative;
    right: 18%;

    border: 0;
    margin: 0;
    padding: 0;

    background: #fff; /* Left columns color */
}



div #footer{
    clear: left;
    color: #333;
    font-size: 60%;
    background: #ccc;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;

}

div#content{
    float: left;
    position: relative;
    left: 19%;

    width: 80%;
    margin-top:    1%;
    margin-bottom: 1%;
    padding: 0;

    background: #fff;
}

div#navigator {
    float:left;
    position: relative;
    left: 21%;
     
    width: 16%;
    margin-top:    1%;
    margin-bottom: 1%;
    padding: 0;
    
    background: #ccc;
}

/** ALERTS */
.box {
    background-color: #ccc;
    color: #333;
    padding: 1%;
    border: 1px solid #777;
    margin: 2%;
    text-align: justify;
}

.warning {
    color: #333;
    background-color: #ecc;
    font-weight: bold;
}
    
.alarm {
    color: #333;
    background-color: #faa;
    font-weight: bold;
    font-size: 120%;
}

blockquote {
    background-color: #ccc;
    color: #333;
    padding: 1%;
    border: 1px solid #777;
    margin: 1%;
}


/* Items */
#myphoto {
    width: 100%;
    border: 1px solid gray;
}


/** TOC stuff */

.toc {
    margin: 0em;
    padding: 0em;
}

.toc_item {
    list-style: none inside none;

    font-size: 100%;
    font-variant: small-caps;
    font-weight: bold;
    background: #aaa;
    color: #fff;
    text-align: center;
    
    border: 1px solid #777;
  
    margin-left: 10pt;
    margin-right: 10pt;
}

.toc_nil {
    list-style: none inside none;

    font-size: 100%;
    font-variant: small-caps;
    font-weight: bold;
    background: transparent;
    color: #fff;
    text-align: center;
    
    border: 0 solid #777;
  
    margin-left: 0;
    margin-right: 0;
}


.toc_title { 
    list-style: none inside none;
   
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    background: #aaa;
    color: #fff;
    text-align: center;

    margin-top: 0.4em;
    margin-bottom: 0.3em;
    padding-left: 5pt;
    padding-right: 5pt;
    border: 1px solid #777;
} 

.toc_item a {
    background: #aaa;
    color: #333;
    text-decoration: none;
}

.toc_item a:hover {
    background: #ccc;
    color: #fff;
    text-decoration: none;
}

/** PAGE CONTENTS **/
.page_title {
 
    font-variant: small-caps;
    font-weight: bold;
    background-color: transparent;
    border-bottom: medium solid gray;
    width: 80%;
    font-size: 200%;  

    margin-bottom: 0.5em;
    margin-top: 0.5em; 
}

.page_index_entry {
}

.entry_title {
    width: 100%;
    border-bottom: 2px solid gray;
}

.entry {
    padding: 0;
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 2px solid gray;

    text-align: justify;
}

/** BIBLIOGRAPHY STUFF **/

.biburl {
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
    background: #777;
    color: #fff;
    padding: 2px;
}

.bibentry {
    border-top: solid 1px #ccc;
}

.biblinks { 
    border:0;
    width:25%;
}

.biblinks img { 
    border:0;
    width:48px;
}

.bibinfo {  }

.bibtitle {
    font-weight: bold;
}


.bibid {
    font-weight: bold;
}


/*---------------------  Math -------------------------*/
div .abstract {
    display: none; /* Abstract box are hidden by default. */
    background: #ccc;
    margin-top: 0px;
    margin-bottom: 2em;

    font-family: serif;
}

/* Css generated by Tex4Ht, hand-edited by Massimo Lauria, 2009 */
.cmr-10x-x-109{font-size:90%;}
.cmbx-10x-x-109{font-size:90%; font-weight: bold;}
.cmti-10x-x-109{font-size:90%; font-style: italic;}
.cmcsc-10x-x-109{font-size:90%;}
.cmr-8{font-size:66%;}
.cmmi-10x-x-109{font-size:90%;font-style: italic;}
.cmmi-8{font-size:66%;font-style: italic;}
.cmsy-10x-x-109{font-size:90%;}
.small-caps{font-variant: small-caps; }
p.noindent { text-indent: 0em }
td p.noindent { text-indent: 0em; margin-top:0em; }
p.nopar { text-indent: 0em; }
p.indent{ text-indent: 1.5em }
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
table.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 1px; margin:0px; }
.tabbing-right {text-align:right;}
span.TEX {letter-spacing: -0.125em; }
span.TEX span.E{ position:relative;top:0.5ex;left:-0.0417em;}
a span.TEX span.E {text-decoration: none; }
span.LATEX span.A{ position:relative; top:-0.5ex; left:-0.4em; font-size:85%;}
span.LATEX span.TEX{ position:relative; left: -0.4em; }
div.float img, div.float .caption {text-align:center;}
div.figure img, div.figure .caption {text-align:center;}
.marginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p{margin-top:0.4em; margin-bottom:0.4em;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.index-item, .index-subitem, .index-subsubitem {display:block}
.caption td.id{font-weight: bold; white-space: nowrap; }
table.caption {text-align:center;}
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.quote {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; margin-right:1em; text-align:justify;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
.quotation {margin-bottom:0.25em; margin-top:0.25em; margin-left:1em; }
.abstract p {margin-left:5%; margin-right:5%;}
table.abstract {width:100%;}
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:100%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather-star, td.gather1 {text-align:center; }
table.gather, table.gather-star {width:100%;}


